body, html {
  background-color: black;
  height: 100%;
  --a-color: #f72585ff;
  --b-color: #b5179eff;
  --c-color: #7209b7ff;
  --d-color: #560badff;
  --e-color: #480ca8ff;
  --f-color: #3a0ca3ff;
  --g-color: #3f37c9ff;
  --h-color: #0361eeff;
  --i-color: #2895efff;
  --j-color: #4cc9f0ff;
}

.main_container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: 100%;
    width: 100%;
    background-color: black;
    align-items: center;
}

.about_container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  align-self: center;
  align-content: center;
  justify-content: center;
  text-align: center;
  background-color: black;
  width: 100%;
}

.bri_container, .elise_container, .sofia_container {
  display: flex;
  flex-direction: column;
  width: 70vmin;
  align-items: center;
  margin: 10px;
}

.about_title {
  font-family: 'Streamster',  'Permanent Marker';
  font-size: 10vmin;
  color: rgb(166, 73, 248);
  text-shadow: 8px 10px 15px turquoise;
}

.bri, .elise, .sofia {
  align-items: center;
  margin-left: 75px;
  margin-right: 75px;
  margin-bottom: 85px;
  border-radius: 50px;
  padding: 20px;
  padding: 20px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  width: 65vmin;
}

.bio_name {
  font-size: 10vmin;
  font-family: 'Streamster',  'Permanent Marker';
  color: rgb(0, 115, 255);
  text-shadow: 5px 5px 20px var(--b-color);
  margin: 5px;
}

.bio {
  font-family: 'Larabiefont', 'Permanent Marker', Tahoma, Geneva, Verdana, sans-serif;
  padding: 10px;
  font-size: 3.5vmin;
  color: blueviolet;
}

.links_container {
  display: flex;
  flex-direction: row;
  margin: 5px;
  align-items: center;
  text-align: center;
  justify-content: space-between;
  width: 70vmin;
}

.bio_logos_gh {
  height: 50px;
  display: flex;
  flex-direction: row;
  margin: 15px;
}

.bio_logos_li {
  height: 50px;
  display: flex;
  flex-direction: row;
  margin: 15px;
}

.bio_logos_gh:hover {
  border-radius: 300px;
  box-shadow: 2px 1px 15px 10px var(--e-color);
  background-color: var(--e-color);
}

.bio_logos_li:hover {
  border-radius: 300px;
  box-shadow: 2px 1px 15px 10px #6ad257;
  background-color: #6ad257;
}

.linebreak {
  width: 100%;
}

.elise_bio:hover,
.bri_bio:hover,
.sofia_bio:hover {
  background-image: none;
  font-family: 'Larabiefont';
  font-weight: bolder;
  height: fit-content;
  background-size: cover;
  padding: 5px;
  text-align: center;
  border-radius: 20px;
  text-shadow: 10px 1px 1px rgb(38, 0, 99);
  background-color: var(--c-color);
  box-shadow: 1px 1px 15px 55px var(--c-color);
  cursor: help;
  width: 60vmin;
}

.sofia_bio {
    color: transparent;
    font-size: 3.5vmin;
    padding: 5px;
    text-align: center;
    font-family: Larabiefont;
    font-weight: bolder;
    width: 60vmin;
}

.elise_bio {
    color: transparent;
    font-size: 3vmin;
    padding: 5px;
    text-align: center;
    font-family: Larabiefont;
    font-weight: bolder;
    width: 60vmin;
}

.bri_bio {
    color: transparent;
    font-size: 3.8vmin;
    padding: 5px;
    text-align: center;
    font-family: Larabiefont;
    font-weight: bolder;
    width: 60vmin;
}