body {
  --a-color: #f72585ff;
  --b-color: #b5179eff;
  --c-color: #7209b7ff;
  --d-color: #560badff;
  --e-color: #480ca8ff;
  --f-color: #3a0ca3ff;
  --g-color: #3f37c9ff;
  --h-color: #0361eeff;
  --i-color: #2895efff;
  --j-color: #4cc9f0ff;
}

* {
    height: 100%;
    width: 100%;
}

body {
    background-color: black;
}

@font-face {
    font-family: 'Larabiefont';
    src: url('../fonts/LarabiefontRg-Regular.eot'); /* IE9 Compat Modes */
    src: url('../fonts/LarabiefontRg-Regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/LarabiefontRg-Regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/LarabiefontRg-Regular.woff') format('woff'), /* Pretty Modern Browsers */
       url('../fonts/LarabiefontRg-Regular.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../fonts/LarabiefontRg-Regular.svg') format('svg'); /* Legacy iOS */
}

@font-face {
    font-family: 'Streamster';
    src: url('../fonts/Streamster.eot'); /* IE9 Compat Modes */
    src: url('../fonts/Streamster.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/Streamster.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/Streamster.woff') format('woff'), /* Pretty Modern Browsers */
       url('../fonts/Streamster.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../fonts/Streamster.svg') format('svg'); /* Legacy iOS */
}