body {
  --a-color: #f72585ff;
  --b-color: #b5179eff;
  --c-color: #7209b7ff;
  --d-color: #560badff;
  --e-color: #480ca8ff;
  --f-color: #3a0ca3ff;
  --g-color: #3f37c9ff;
  --h-color: #0361eeff;
  --i-color: #2895efff;
  --j-color: #4cc9f0ff;
}

.main-container,
.top_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: 'Streamster', 'Permanent Marker', cursive;
  color: var(--a-color);
  text-shadow: 5px 8px 10px var(--c-color);
}

.convo_container {
  background-color: var(--h-color);
  box-shadow: 2px 1px 20px 15px var(--h-color);
}

.from_container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  justify-self: space-evenly;
  justify-items: space-evenly;
  font-size: 6vmin;
  font-family: 'Streamster', 'Permanent Marker', cursive;
  text-align: center;
  color: var(--i-color);
  text-shadow: 5px 8px 10px var(--c-color);
  padding: 10px;
}

.from_name {
  font-size: 6vmin;
  font-family: 'Streamster', 'Permanent Marker', cursive;
  text-align: center;
  color: var(--i-color);
  text-shadow: 5px 8px 10px var(--c-color);
  padding: 10px;
}

.message_p {
    font-size: 10vmin;
    text-align: center;
    color: blueviolet;
    font-family: 'Larabiefont', 'Permanent Marker', Tahoma, Geneva, Verdana, sans-serif;
    padding-bottom: 100px;
}

.message_title {
  font-size: 10vmin;
  font-family: 'Streamster', 'Permanent Marker', cursive;
  text-align: center;
  color: var(--b-color);
  text-shadow: 2px 12px 25px var(--j-color);
}
