.nav_links {
    display: flex;
    flex-direction: row;
    margin: 20px;
    width: 100%;
    justify-content: space-between;

}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin: 0;
    background-image: url("https://thumbs.dreamstime.com/b/wave-sound-neon-vector-background-music-flow-soundwave-design-light-bright-blue-elements-isolated-dark-backdrop-radio-beat-143683394.jpg");
    background-size: contain;
    background-color: black;
    background-position: center;
    background-repeat: no-repeat;
}

.aicon, .bicon, .cicon, .cvicon {
    height: 7vmin;
    width:7vmin;
    padding: 10px;
}

.vibn_logo {
    height: 11vmin;
}

.aicon:hover, .bicon:hover, .cicon:hover, .cvicon:hover {
    border-radius: 20px;
    border: none;
    background-color: rgb(0, 119, 223);
    box-shadow: 2px 2px 10px 5px rgb(0, 119, 223);
}