.nav_links {
    display: flex;
    flex-direction: row;
    margin: 20px;
    width: 100%;
    justify-content: space-between;

}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin: 0;
    background-image: url("https://cdn141.picsart.com/334812395036211.png?type=webp&to=min&r=640");
    background-size: cover;
    background-color: black;
    background-position: bottom;
}

.aicon, .bicon, .cicon, .cvicon {
    height: 7vmin;
    width:7vmin;
    padding: 5px;
    border-radius: 20px;
    background-color: rgba(0, 0, 0, 0.618);
    box-shadow: 1px 1px 10px 15px rgba(0, 0, 0, 0.618);
}

.vibn_logo {
    height: 11vmin;
    border-radius: 40px;
    padding: 5px;
    background-color: rgba(0, 0, 0, 0.618);
    box-shadow: 1px 1px 25px 20px rgba(0, 0, 0, 0.618);
}

.aicon:hover, .bicon:hover, .cicon:hover, .cvicon:hover, .vibn_logo:hover {
    background-color: rgba(0, 244, 252, 0.42);
    box-shadow: 1px 1px 25px 20px rgba(0, 244, 252, 0.42);
}