body {
  --a-color: #f72585ff;
  --b-color: #b5179eff;
  --c-color: #7209b7ff;
  --d-color: #560badff;
  --e-color: #480ca8ff;
  --f-color: #3a0ca3ff;
  --g-color: #3f37c9ff;
  --h-color: #0361eeff;
  --i-color: #2895efff;
  --j-color: #4cc9f0ff;
}

html, body {
    background-color: black;
    height: 100%;
    width: 100%;
}

.linebreak {
    width: 100%;
}

.spinner {
  align-items: center;
  justify-content: center;
}

