body {
  --a-color: #f72585ff;
  --b-color: #b5179eff;
  --c-color: #7209b7ff;
  --d-color: #560badff;
  --e-color: #480ca8ff;
  --f-color: #3a0ca3ff;
  --g-color: #3f37c9ff;
  --h-color: #0361eeff;
  --i-color: #2895efff;
  --j-color: #4cc9f0ff;
}

html, body {
    background-color: black;
    height: 100%;
    width: 100%;
}

.login_body {
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: black;
}

.login_btn {
    align-items: center;
    justify-content: center;
    align-self: center;
    text-align: center;
    padding: 1rem;
    margin: 10vmin;
    border-radius: 20px;
    border-radius: 300px;
    font-family: 'Larabiefont';
    font-size: 4.5vmin;
    font-weight: 900;
    background-color: var(--h-color);
    border: 5px solid var(--j-color);
    box-shadow: 2px 1px 20px 15px var(--j-color);
    color: var(--a-color);
}

.login_btn:hover {
  cursor: pointer;
  border-radius: 300px;
  background-color: var(--b-color);
  box-shadow: 2px 1px 20px 15px var(--a-color);
  border: 5px solid var(--a-color);
  color: var(--d-color);
}

.vibn_logo {
    width: 42vmin;
    height: 34vmin;
    padding: 3rem;
    align-self: center;
}

.vibn_desc {
    padding-bottom: 2rem;
    font-size: 2.2rem;
    font-family: 'Streamster';
    text-align: center;
    color: rgb(128, 0, 255);
}

a:hover {
    text-shadow: none;
}

.linebreak {
    width: 100%;
}